<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
  <header class="cabecalho">
    <h1><img width="40px" src="https://cdn.iconscout.com/icon/free/png-256/free-coracao-1172-460666.png?f=webp" alt="logo"></h1>
  </header>


  <main>
    <section class="container">
      <div class="card">
        <img src="/assets/WhatsApp Image 2024-11-10 at 17.08.29.jpeg" alt="">
        <div class="card-desc">
          <p>Dividir a vida com você é uma dádiva!</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/WhatsApp Image 2024-11-10 at 17.08.29 (1).jpeg" alt="">
        <div class="card-desc">
          <p>Cada momento ao seu lado é mágico, independente do que estivermos fazendo. </p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/classicu 2023-07-09 091509.815.JPG" alt="">
        <div class="card-desc">
          <p>Você fez e faz da minha vida o lugar mais feliz.</p>
        </div>
      </div>

      <div class="card">
        <img src="/assets/classicu 2023-12-13 194701.029.JPG" alt="">
        <div class="card-desc">
          <p>Eu te amo em cada detalhe, meu amor!</p>
        </div>

      </div>

    </section>




  </main>


  <footer class="rodape">


    <p>Todos os direitos reservados&copy</p>
    <div>
      <a target="_blank" href="https://github.com/LucasSoulzaax">
        <img src="https://discoverthreejs.com/images/app-logos/github.png" alt="">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/lucas-souza-7365b3299/">
        <img src="https://cdn-icons-png.flaticon.com/256/3488/3488311.png" alt="">
      </a>
    </div>


  </footer>


  <script src="/script/script.js"></script>
</body>

</html>